* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 5em;
  font-family: "Water Brush", cursive;
  height: 250px;
  color: #f10924;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
header {
  background-image: url(https://www1.wdr.de/nachrichten/rheinland/suedbruecke-koeln-100~_v-HDready.jpg);
  background-size: cover;
  box-shadow: 0px 2px 8px #f9a0a0;
  border-radius: 5px;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  font-family: "Water Brush", cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #f10924;
  background-color: transparent;
  border: 0.2px dotted rgb(226, 234, 240);
  border-radius: 7px;
  text-decoration: none;
  width: 130px;
  height: 45px;
  display: flex;
  padding: 5px 25px 10px 25px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.titles {
  font-size: 2.3rem;
  color: #f10924;
  border: 1px;
  display: flex;
  justify-content: center;
  padding: 30px;
}
p {
  background-color: aqua;
}
.kursiv {
  font-family: cursive;
  color: blue;
}
img {
  border: 2px solid red;
  width: 250px;
  height: 250px;
}
.images {
  border: 2px solid;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.proj {
  display: flex;
  justify-content: space-around;
}
.anker {
  color: black;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 3rem;
}
form {
  margin-left: auto;
  margin-right: auto;
}
#kontakt {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
}
