@import "header.css";
@import "footer.css";

:root {
  --maincolor: #f10924;
  --navcolor: #090909d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--pagecolor, yellow);
  font-size: 1.5rem;
}

/*    Bloks     */
a {
  font-size: 110%;
  font-weight: bolder;
  color: var(--navcolor);
  text-decoration: none;
  font-style: oblique;
}
main {
  background-image: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projekte {
  display: flex;
  flex-direction: column;
}

#kontakt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*       Tags       */

h1 {
  font-size: 5em;
  font-family: "Water Brush", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5px;
}
h2 {
  max-width: 425px;
  font-size: 2.5rem;
  color: var(--navcolor);
  text-shadow: 3px 3px 2px rgb(152, 150, 150);
  margin: 20px auto;
  text-align: center;
}
li {
  color: var(--maincolor, red);
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.354);
  border-radius: 7px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
p,
dl {
  padding: 55px;
  line-height: 36px;
  color: rgb(237, 237, 237);
  box-shadow: 1px 1px 6px rgba(33, 30, 30, 0.662);
  border-radius: 7px;
  background-color: rgba(33, 30, 30, 0.662);
  text-align: center;
  margin: 20px;
}
img {
  margin: 10px;
  width: 350px;
  height: 250px;
  border-radius: 1px;
  box-shadow: 1px 1px 6px rgba(33, 30, 30, 0.662);
}
figcaption {
  color: var(--navcolor);
  width: 200px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px rgba(47, 43, 43, 0.662);
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: auto;
}
i {
  color: var(--navcolor);
}
form {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
textarea {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  margin: 5px;
}
button {
  margin: 10px auto;
  width: 125px;
  background-color: #1d39ed;
  color: rgb(237, 237, 237);
  font-size: 1.2rem;
  border-radius: 7px;
  box-shadow: 1px 1px 6px rgba(33, 30, 30, 0.662);
}
dt {
  color: var(--navcolor);
  font-weight: bolder;
  text-decoration: underline;
}
dd {
  padding: auto;
}
/*Classes*/

.image {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.anker {
  display: flex;
  justify-content: center;
}
.image__me {
  width: 350px;
  height: 350px;
  box-shadow: 1px 1px 1px 1px rgb(119, 109, 109);
}
.icons {
  height: 150px;
  margin: 10px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-size: 3rem;
}
